:root {
	--use-carousel-dot-size: 0.5rem;
	--use-carousel-dot-color: rgba(0, 0, 0, 0.5);
	--use-carousel-dot-transition-duration: 1000ms;
}

.use-carousel {
	&-dots-wrapper,
	&-dot,
	&-button {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&-dots-wrapper {
		display: flex;
		gap: 0.625em;
		margin: 5rem auto;
	}
	&-dot {
		width: var(--use-carousel-dot-size, 0.5rem);
		height: var(--use-carousel-dot-size, 0.5rem);
		border-radius: 100%;
		border: none;
		transition: var(--use-carousel-dot-transition-duration) transform ease-out;
		transform: scale(1);
		cursor: pointer;
		background: var(--use-carousel-dot-color);
		&.active {
			transform: scale(1.5);
		}
	}
	&-button {
		border: none;
		padding: 0;
		margin: 0;
		background: none;
		cursor: pointer;
	}
	&-animate-motion-blur {
		animation: motion-blur 0.1s linear forwards, motion-blur 0.4s linear reverse forwards 0.1s;
	}

	@keyframes motion-blur {
		0% {
			filter: url(#blur0);
			transform: scale(1, 1);
		}
		15% {
			filter: url(#blur1);
			transform: scale(1, 0.98);
		}
		30% {
			filter: url(#blur2);
			transform: scale(1, 0.93);
		}
		45% {
			filter: url(#blur3);
			transform: scale(1.1, 0.9);
		}
		60% {
			filter: url(#blur4);
			transform: scale(1.2, 0.88);
		}
		75%,
		100% {
			filter: url(#blur5);
			transform: scale(1.35, 0.85);
		}
	}
}
